*, html{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(165, 26, 183);
	color: white;
}
.container-utama{

}
.container-navbar{
}
.ul-navbar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-item a{
	list-style-type: none;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	color: white;
	text-decoration:none;
}
.navbar-item a:hover{
	background-color: white;
	color: black;
	transition: 0.5s ease-in-out;
	transition-delay: 0.2s;
	border-radius: 10px;
}
.li-navbar a{
	color: white;
	text-decoration: none;
}
.container-content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	flex-direction: column;
}
footer{
	color: white;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}